/*this style is to disable user from resizing the password box */
   textarea {
    width: 200px;
    min-width: auto;
    max-width: auto;

    height: 200px;
    min-height: 100px;
    max-height: 100px;
}